.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  z-index: 10;

  i {
    font-size: size(lg);
    color: color(white);
  }

  .link-1 {
    margin-right: 4rem;

    @include response(lg) {
      margin-right: 2rem;
    }

    @include response(sm) {
      margin-right: 1rem;
    }

    @include response(xs) {
      margin-right: 0.5rem;
    }
  }

  img {
    width: 20rem;
    height: auto;
    object-fit: cover;
  }
}
